*{
	margin:0px; padding:0px;	
}
.ban{
    font-family: SutonnyMJ;
    
}
.eng{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 18px;
}

body{
	
	background: url(../images/bg_main.gif);
	background-position: center;

}
li.nav-item {
    font-size: 1.4rem;
	padding-right:20px;	
}

.nav-item:last-child{ padding-right:0px;}
.navbar{
	 background: rgba(255, 255, 255, 0.88);
	box-shadow: 2px 2px 5px #3292a6;
}
a.nav-link{
	color:#252525;
}
a.nav-link:hover{
					color:#3292a6;
}

.bg {
	
	background-image: url("images/#");
  
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

.socialIcon {
    list-style-type: none;
    display: inline-flex;
}
.icons {
    padding-left: 14px;
}

.red{
	color: red;
	font-size: 18px;
}


h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 25px 0 50px;
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #ffdc12;
    left: 0;
    right: 0;
    bottom: -10px;
}

.carousel {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
}

.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 340px;
}

.carousel .item a {
    color: #eb7245;
}

.carousel .img-box {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 10px;
}

.testimonial {
    color: #000000;
    font: Times Roman;
}

.carousel .overview {
    text-align: center;
    padding-bottom: 5px;
}

.carousel .overview b {
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
}

.carousel .star-rating i {
    font-size: 18px;
    color: #ffdc12;
}

.carousel .carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #999;
    text-shadow: none;
    top: 4px;
}

.carousel-control i {
    font-size: 20px;
    margin-right: 2px
}

.carousel-control.left {
    left: auto;
    right: 40px;
}

.carousel-control.right i {
    margin-right: -2px;
}

.carousel .carousel-indicators {
    bottom: -9px; 
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 11px;
    height: 0px;
    margin: 1px 5px;
    border-radius: 50%;
}

.carousel-indicators li {
    background: #e2e2e2;
    border-color: transparent;
}

.carousel-indicators li.active {
  
}